#root:has(.Header) {
  >:first-child {
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
  }
}

.Header {
  font-family: Epilogue , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;
  min-height: 100vh;
  width: 250px;
  padding: 28px 0;
  flex-grow: 1;
  background-color: white;
  .navegation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 38px;
    gap: 60px;
    .navLink {
      font-size: 16px;
      text-decoration: none;
      color: #444955;
      display: flex;
      align-items: flex-end;
      padding: 1px;
      gap: 23px;
    }
  }


  .navLinkActive {
    font-weight: 700;
    svg path {
      fill: #444955;
    }
  }

  .Loading {
    font-size: 14px;
    img {
      max-width: 40px;
    }
  }

  .userInfos {
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding-left: 40px;
    gap: 13px;
    h5 {
      font-weight: 400;
      font-size: 16px;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}
