$COLOR_BLUE: #003BE5;

.loginPage {
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: Epilogue , sans-serif;
  .form-login {
    max-width: 750px;
    min-width: 310px;
    width: 85%;
    background-color: white;
    z-index: 1;
    min-height: 190px;
    height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    input, button {
      max-width: 400px;
      width: 100%;
      border-radius: 100px;
      text-align: center;
      padding: 12px 0;
      border: 1px solid $COLOR_BLUE;
    }
    input {
      color: $COLOR_BLUE;
      margin-bottom: 10px;
      margin-top: 10vh;
      outline: none;
      font-weight: 400;
      &::placeholder{
        color: $COLOR_BLUE;
      }
    }

    button {
      color: white;
      background-color: $COLOR_BLUE;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      &:disabled {
        background-color: #00248f;
        cursor: default;
      }
      &:not(:disabled):hover {
        background-color: #255bff;
      }
    }
  }
}

.max-height {
  height: 224px;
  max-height: 224px;
  animation: song 1.5s linear 0s infinite alternate;
}
