$COLOR_HEART: #EC5050;

.MusicCard {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 18px 30px;
  justify-content: space-between;
  max-width: 591px;
  font-family: Epilogue , sans-serif;
  h6 {
    width: 155px;
    color: #001813;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  audio::-webkit-media-controls-panel {
    background-color: white;
  }

  .inputCoracao {
    svg {
      fill: transparent;
      transform: rotate(0deg);
      path {
        transform: rotate(0deg);
        transition: all 0.5s;
      }
    }
    input {
      display: none;
      transition: all 2s;
      &:checked {
        + svg {
          fill: $COLOR_HEART;
          transform: rotate(360deg);
          path {
            transform: rotate(360deg);
            stroke: $COLOR_HEART;
          }
          // animation: filling 2s ease-in-out 0s 1;
        }
      }
    }
  }

  .Loading {
    position: absolute;
    right: 30px;
    bottom: 40%;
    h2 {
      display: none;
    }

    img {
      width: 22px;
      margin: 0;
    }
  }
}

.myMusics {
  .MusicCard:not(:last-child) {
    border-bottom: 1px solid #CCD4E1;
  }
}

@keyframes filling {
  from {
    fill: transparent;
  }

  to {
    fill: $COLOR_HEART;
    stroke: $COLOR_HEART;
  }
}
